body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.left-container {
    padding-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.note-header {
    width: 90%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20vw;
    font-family: Sans-serif;
    font-weight: bold;
    background-color: grey;
    border: none;
    text-align: center;
    padding: 5px;
}

.text-btn {
    width: 15vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: Sans-serif;
    background-color: transparent;
    border: none;
}

.add-btn, .delete-btn {
    width: 5vw;
    font-size: 1.5vw;
    background-color: transparent;
    border: none;
}

.right-container {
    padding-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Sans-serif;
    font-size: 20px;
}

.form-title {
    width: 40vw;
    height: 2vh;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
    font-family: Sans-serif;
    font-size: 18px;
}

.form-body {
    font-family: Sans-serif;
    font-size: 18px;
    border-radius: 3px;
    width: 40vw;
    height: 20vh;
    margin: auto;
    margin-bottom: 10px;
    resize: none;
}

.button-container {
    width: 40vw;
}

.revert-btn, .save-btn {
    width: 60px;
    margin-right: 10px;
    align-items: left;
}